.header {
    height: 80px;
    z-index: 1000;
    display: flex;
    /*max-width: 1000px;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fbc620;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}


.header-logo-container {
     display: flex;
     flex: 1;
     justify-content: flex-start;
 }

.header-avatar-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header-logo {
    height: 30px;
}

.header-avatar {
    height: 50px;
}

.header-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    align-items: center;
    color: dimgray;
    padding: 0;
    flex: 1;
    justify-content: center;
}

.header-nav > li {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
}

.header-nav > li.selected {
    text-decoration: underline;
    font-weight: bold;
}
