.recipe-list-divider {
      position: relative;
      display: flex;
      justify-content: flex-end;
      left: -1230px;
      height: 0px;
      font-size: 32px;
      font-family: Roboto;
      color: black;
      text-align: right;
      list-style-type: none;
      background-color: white;
      display: flex;
      text-transform: capitalize;
}
