.recipe-list-divider {
      position: relative;
      display: flex;
      font-size: 32px;
      font-family: Roboto, serif;
      color: black;
      list-style-type: none;
      background-color: white;
      display: flex;
      text-transform: capitalize;
}
