{
    "extends": "react",
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "no-unused-vars": ["warn"],
        "no-unused-expressions": ["off"]
    },
    "env": {
        "browser": true
    }
}
