@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slider .handle {
    position: relative;
    background-color: black;
    width: 15px;
    height: 15px;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
}
