@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slider .handle {
    position: relative;
    background-color: black;
    width: 15px;
    height: 15px;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

.content {
    flex: 1;
    width: 1300px;
    margin: auto;
}


.loginFiller {
    background-image: url("login.jpg");
    background-size: cover !important;
    width: 100vw;
    height: 100vh;
}



.profileFiller {
    background-image: url("profile.jpg");
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
